<!DOCTYPE html>
<html lang="en" class="mdl-js">
<%= view "components/header.html.erb" %>
<body>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"> Error 404 </h1>
    <p class="lead text-muted"><%= I18n.t(:not_found) %></p>
    <img src="https://freefrontend.com/assets/img/html-funny-404-pages/Pure-CSS-404-Error-Page.png" alt="">
  </div>
</section>
</body>
</html>
